<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Meta tags for character encoding and responsive viewport -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Science Fair Project</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   </head>
   <body>
      <!-- Main container with max width -->
      <div class="container mx-auto" style="max-width: 600px;">
         <!-- Header section -->
         <div class="bg-primary p-4 my-4 rounded">
            <h1 class="text-white">Microplatics detection and filtration</h1>
            <p class="text-white">Here is the guide to detect and filtrate your micrplastics!</p>
         </div>
         <!-- Accordion container for different sections -->
         <div id="accordion">
            <!-- Introduction section -->
            <div class="card">
               <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                     <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     Introduction
                     </button>
                  </h5>
               </div>
               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                     This is the guide to the process of detecting and removing microplastics. Continue with the web app to detect and remove microplastics.
                  </div>
               </div>
            </div>
            <!-- Detection section -->
            <div class="card">
               <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     Detecting Microplastics
                     </button>
                  </h5>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                     <p>Take an overhead view of the water where you want to detect microplastics. Then click the button below to start the detection.</p>
                     <!-- Image upload form for detection -->
                     <form action="/detect" id="detectForm" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                           <input type="file" id="cameraInput" accept="image/*" capture="camera" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary" id="detect-btn">Start detection</button>
                        <!-- Detection form handling script -->
                        <script>
                           document.addEventListener('DOMContentLoaded', function() {
                               const form = document.getElementById('detectForm');
                               const status = document.getElementById('status');
                               
                               form.addEventListener('submit', function(e) {
                                   e.preventDefault();
                           
                                   status.innerText = "Detecting microplastics...";
                                   
                                   // Create form data and append file
                                   const formData = new FormData(form);
                                   formData.append('cameraInput', document.getElementById('cameraInput').files[0]);
                                   console.log(formData);
                                   
                                   // Send detection request to server
                                   fetch('/detect', {
                                       method: 'POST',
                                       body: formData
                                   })
                                   .then(response => {
                                       if (!response.ok) {
                                           throw new Error('Network response was not ok');
                                       }
                                       return response.json();
                                   })
                                   .then(data => {
                                         // Display detection results
                                         document.getElementById('status').innerText = "Detection notes: " + data.ai_response + "...";
                                         document.getElementById('detected-img').style.display = "block";
                                         document.getElementById('detected-img').src = "data:image/jpg;base64," + data.image
                                         sessionStorage.setItem('before_image', data.image);
                                       }
                                   )
                                   .catch(error => {
                                     document.getElementById('status').innerText = "Error during frontend detection: " + error;
                                   });
                               });
                           });
                        </script>
                     </form>
                     <hr>
                     <!-- Detection results display area -->
                     <p id="status">The result will be displayed here.</p>
                     <img class="rounded" style="display: none; max-width: 100%;" id="detected-img" src="" alt="detected microplastics image">
                  </div>
               </div>
            </div>
            <!-- Removal instructions section -->
            <div class="card">
               <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     Microplastics Removal
                     </button>
                  </h5>
               </div>
               <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                     <ul>
                        <li><strong>Step 1: Prepare the Ferrofluid</strong><br> Mix vegetable oil with iron oxide powder to create a magnetic liquid called ferrofluid.</li>
                        <li><strong>Step 2: Add Microplastics</strong><br> Add microplastics from various sources (e.g., plastic bottles, paint, car tires) to the ferrofluid mixture.</li>
                        <li><strong>Step 3: Mix Thoroughly</strong><br> Ensure the microplastics are evenly distributed throughout the ferrofluid.</li>
                        <li><strong>Step 4: Apply Magnet</strong><br> Use a magnet to separate the ferrofluid-microplastic mixture from the remaining water.</li>
                        <li><strong>Step 5: Collect and Dispose</strong><br> Collect the extracted microplastics and dispose of them properly. Repeat the process as needed.</li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- Final detection section -->
            <div class="card">
               <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                     Final Detection
                     </button>
                  </h5>
               </div>
               <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                     <p>Take an overhead view of the water where you want to detect microplastics. Then click the button below to start the detection. <b>Make sure you have done phase 1 detection first.</b></p>
                     <!-- Final detection form -->
                     <form action="/final_detect" id="finalDetectForm" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                           <input type="file" id="finalCameraInput" accept="image/*" capture="camera" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary" id="final-detect-btn">Start detection</button>
                        <!-- Final detection form handling script -->
                        <script>
                           document.addEventListener('DOMContentLoaded', function() {
                               const finalForm = document.getElementById('finalDetectForm');
                               const finalStatus = document.getElementById('final-status');
                               
                               finalForm.addEventListener('submit', function(e) {
                                   e.preventDefault();
                           
                                   finalStatus.innerText = "Detecting microplastics...";
                                   
                                   // Create form data and append files
                                   const formData = new FormData(finalForm);
                                   formData.append('finalCameraInput', document.getElementById('finalCameraInput').files[0]);
                                   if (sessionStorage.getItem('before_image')) {
                                     formData.append('before_image', sessionStorage.getItem('before_image'));
                                   } else {
                                     formData.append('before_image', 'false');
                                   }
                                   console.log(formData);
                                   
                                   // Send final detection request to server
                                   fetch('/final_detect', {
                                       method: 'POST',
                                       body: formData
                                   })
                                   .then(response => {
                                       if (!response.ok) {
                                           throw new Error('Network response was not ok');
                                       }
                                       return response.json();
                                   })
                                   .then(data => {
                                         // Display final detection results
                                         document.getElementById('final-display-container').style.display = "block";
                                         document.getElementById('final-status').innerText = "Detection notes: " + data.ai_response + "...";
                                         document.getElementById('final-before-img').style.display = "block";
                                         document.getElementById('final-before-img').src = "data:image/jpg;base64," + data.before_image,
                                         document.getElementById('final-after-img').style.display = "block";
                                         document.getElementById('final-after-img').src = "data:image/jpg;base64," + data.image
                                       }
                                   )
                                   .catch(error => {
                                     document.getElementById('final-status').innerText = "Error during frontend detection: " + error + " (make sure you have done phase 1 detection first)";
                                   });
                               });
                           });
                        </script>
                     </form>
                     <hr>
                     <!-- Final detection results display area -->
                     <p id="final-status">The result will be displayed here.</p>
                     <div class="container" id="final-display-container" style="max-width:100%; display: none;">
                        <div class="card mb-2">
                           <div class="card-body rounded image-container">
                              <p class="image-title">Before Ferrofluids</p>
                              <img id="final-before-img" src="" alt="Before Detection" class="img-fluid">
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-body rounded image-container">
                              <p class="image-title">After Ferrofluids</p>
                              <img id="final-after-img" src="" alt="After Detection" class="img-fluid">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- Required JavaScript libraries -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>