<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Science Fair Project</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
  </head>
  <body>
      <div class="container mx-auto" style="max-width: 600px;">
          <div class="bg-primary p-4 my-4 rounded">
              <h1 class="text-white">Microplatics detection and filtration</h1>
              <p class="text-white">Here is the guide to detect and filtrate your micrplastics!</p>
          </div>

          <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Introduction
                    </button>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    This is the guide to the process of detecting and removing microplastics. Continue with the web app to detect and remove microplastics.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Detecting Microplastics
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                      <p>Take an overhead view of the water where you want to detect microplastics. Then click the button below to start the detection.</p>
                      <form action="/detect" id="detectForm" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" id="cameraInput" accept="image/*" capture="camera" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary" id="detect-btn">Start detection</button>
                        <script>
                          document.addEventListener('DOMContentLoaded', function() {
                              const form = document.getElementById('detectForm');
                              const status = document.getElementById('status');
                              
                              form.addEventListener('submit', function(e) {
                                  e.preventDefault();

                                  status.innerText = "Detecting microplastics...";
                                  
                                  const formData = new FormData(form);
                                  formData.append('cameraInput', document.getElementById('cameraInput').files[0]);
                                  console.log(formData);
                                  
                                  fetch('/detect', {
                                      method: 'POST',
                                      body: formData
                                  })
                                  .then(response => {
                                      if (!response.ok) {
                                          throw new Error('Network response was not ok');
                                      }
                                      return response.json();
                                  })
                                  .then(data => {
                                        document.getElementById('status').innerText = "Detection results: " + data.ai_response + "...";
                                        document.getElementById('detected-img').style.display = "block";
                                        document.getElementById('detected-img').src = "data:image/jpg;base64," + data.image
                                      }
                                  )
                                  .catch(error => {
                                    document.getElementById('status').innerText = "Error during frontend detection: " + error;
                                  });
                              });
                          });
                      </script>
                      </form>
                      <hr>
                      <p id="status">The result will be displayed here.</p>
                      <img class="rounded" style="display: none; max-width: 100%;" id="detected-img" src="" alt="detected microplastics image">
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Microplastics Removal
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <ul>
                      <li><strong>Step 1: Prepare the Ferrofluid</strong><br> Mix vegetable oil with iron oxide powder to create a magnetic liquid called ferrofluid.</li>
                      <li><strong>Step 2: Add Microplastics</strong><br> Add microplastics from various sources (e.g., plastic bottles, paint, car tires) to the ferrofluid mixture.</li>
                      <li><strong>Step 3: Mix Thoroughly</strong><br> Ensure the microplastics are evenly distributed throughout the ferrofluid.</li>
                      <li><strong>Step 4: Apply Magnet</strong><br> Use a magnet to separate the ferrofluid-microplastic mixture from the remaining water.</li>
                      <li><strong>Step 5: Collect and Dispose</strong><br> Collect the extracted microplastics and dispose of them properly. Repeat the process as needed.</li>
                  </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Final Detection
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
              </div>
          </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
